<mat-card *ngFor='let room of rooms'>
    <mat-card-title style="margin-bottom: 20px;">
        {{ room.name }}
    </mat-card-title>
    <mat-card-content>
        <!-- Sensors -->
        <span class='container' *ngFor='let sensor of (sensors | roomFilter:room.name)'>
            <div class='title'>
                <span class='subtitle' style='width: 100%;'>
                    <mat-icon>sensors</mat-icon>
                    {{ sensor.name }}
                </span>
            </div>
            <div class='content'>
                <span *ngIf="sensor.temperature">
                    <mat-icon class='small'>device_thermostat</mat-icon>
                    {{sensor.temperature}} °C
                </span>
                <span *ngIf="sensor.humidity">
                    <mat-icon class='small'>water_drop</mat-icon>
                    {{sensor.humidity}} %
                </span>
                <span *ngIf="sensor.pressure">
                    <mat-icon class='small'>speed</mat-icon>
                    {{sensor.pressure}} hPA
                </span>
                <span *ngIf="sensor.air_quality">
                    <mat-icon class='small'>co2</mat-icon>
                    {{sensor.air_quality}}
                </span>
            </div>
        </span>

        <!-- Switches -->
        <span class='container' *ngFor='let switch of (switches | roomFilter:room.name)'>
            <div class='title'>
                <span class='subtitle hover' style='width: 100%;' (click)="switchSwitch(switch)">
                    <mat-icon [style.color]="switch.state ? '#efef00': '#ffffffd9'">power</mat-icon>
                    {{ switch.name }}
                </span>
            </div>
        </span>

        <!-- Lights -->
        <span class='container hover' *ngFor='let light of (lights | roomFilter:room.name)'>
            <div class='title'>
                <span class='subtitle hover' style='width: 67%;' (click)="switchLight(light)">
                    <mat-icon [style.color]="light.state ? '#efef00': '#ffffffd9'">lightbulb</mat-icon>
                    {{ light.name }}
                </span>
                
                <span class='subtitle hover' (click)="expandLight(light)">
                    <mat-icon style='margin-left: auto; margin-right: 0px;'>expand_more</mat-icon>
                </span>
            </div>
            
            <div class='content' *ngIf="light.expanded" [@inOutAnimation]>
                <span style='justify-content: space-between;'>
                    Red
                    <mat-slider min="0" max="255" step="1" [(ngModel)]="light.r" (valueChange)="updateLight(light)">
                        <input matSliderThumb>
                    </mat-slider>
                </span>
                <span style='justify-content: space-between;'>
                    Green
                    <mat-slider min="0" max="255" step="1" [(ngModel)]="light.g" (valueChange)="updateLight(light)">
                        <input matSliderThumb>
                    </mat-slider>
                </span>
                <span style='justify-content: space-between;'>
                    Blue
                    <mat-slider min="0" max="255" step="1" [(ngModel)]="light.b" (valueChange)="updateLight(light)">
                        <input matSliderThumb>
                    </mat-slider>
                </span>
                <span style='justify-content: space-between;' *ngIf="light.has_white_led">
                    White
                    <mat-slider min="0" max="255" step="1" [(ngModel)]="light.w" (valueChange)="updateLight(light)">
                        <input matSliderThumb>
                    </mat-slider>
                </span>
            </div>
        </span>
    </mat-card-content>
</mat-card>