<!--<mat-card *ngFor='let room of rooms'>
    <mat-card-title>
        {{ room.name }}
    </mat-card-title>
    <mat-card-content>
        <span class='container' *ngFor='let device of (devices | buttons | room:room.name)'>
            <a (click)="switchDevice(device)" [style.color]="device.state ? '#efef00': 'black'" mat-button>
                <mat-icon svgIcon="{{device.icon}}"></mat-icon>
            </a>
            <span class="sub">{{ device.name }}</span>
        </span>
    </mat-card-content>
    
    <mat-card-actions>
        <a mat-button (click)="openSettingsDialog()">
            <mat-icon svgIcon="settings"></mat-icon>
            Device Settings
        </a>
        <a mat-button (click)="openAddDeviceDialog()">
            <mat-icon svgIcon="plus-circle"></mat-icon>
            Add Device
        </a>
    </mat-card-actions>
</mat-card>-->

<!--<mat-card class="switch-card" *ngFor="let switch of switches">
    <mat-card-subtitle>{{ switch.name }}</mat-card-subtitle>
    <mat-card-actions>
        <mat-slide-toggle [checked]="switch.state"></mat-slide-toggle>
    </mat-card-actions>
</mat-card> -->

<mat-card *ngFor='let room of rooms'>
    <mat-card-title style="margin-bottom: 20px;">
        {{ room.name }}
    </mat-card-title>
    <mat-card-content>
        <!-- Sensors -->
        <span class='container' *ngFor='let sensor of (sensors | roomFilter:room.name)'>
            <span style="background: rgb(255 255 255 / 3%);
                width: 100%;
                border: 12px solid transparent;
                border-radius: 16px;
                text-align: initial;">
                {{ sensor.name }}
            </span>
            
            <a class='small' *ngIf="sensor.temperature">
                <div style="flex-basis: 100%"></div>
                <mat-icon class='small'>device_thermostat</mat-icon>
                {{sensor.temperature}} °C
            </a>
            <a class='small' *ngIf="sensor.humidity">
                <div style="flex-basis: 100%"></div>
                <mat-icon class='small'>water_drop</mat-icon>
                {{sensor.humidity}} %
            </a>
            <a class='small' *ngIf="sensor.pressure">
                <div style="flex-basis: 100%"></div>
                <mat-icon class='small'>speed</mat-icon>
                {{sensor.pressure}} hPA
            </a>
            <a class='small' *ngIf="sensor.air_quality">
                <div style="flex-basis: 100%"></div>
                <mat-icon class='small'>co2</mat-icon>
                {{sensor.air_quality}}
            </a>
        </span>
        <!-- Switches -->
        <span class='container hover' *ngFor='let switch of (switches | roomFilter:room.name)' (click)="switchSwitch(switch)">
            <a [style.color]="switch.state ? '#efef00': '#ffffffd9'" >
                <mat-icon>power</mat-icon>
            </a>
            <span>{{ switch.name }}</span>
        </span>
        <!-- Lights -->
        <span class='container hover' *ngFor='let light of (lights | roomFilter:room.name)' (click)="switchLight(light)">
            <a [style.color]="light.state ? '#efef00': '#ffffffd9'" >
                <mat-icon>lightbulb</mat-icon>
            </a>
            <span>{{ light.name }}</span>
        </span>
    </mat-card-content>
</mat-card>